<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PtahRenderer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PtahRendererDemoAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PtahRendererDemoOffline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PtahRendererDemoOnline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PtahRendererDemoOpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PtahRendererPackageDescription.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SGLOpenGL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SGLOpenGLPackageDescription.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tools.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>glgen.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F408FFDB1F77A94C00C8A216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PtahRenderer::PtahRendererDemoOffline</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PtahRenderer::PtahRendererDemoOpenGL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PtahRenderer::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGLOpenGL::SGLOpenGL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGLOpenGL::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGLOpenGL::Tools</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGLOpenGL::glgen::ProductTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
